html {
  background-color: rgb(20, 20, 20);
  height: 100%;
  width: 100%;
}

body {
  background-color: rgb(20, 20, 20);
  padding: 8%;
  color: white;
  font-family: 'Hind', sans-serif;
  width: 100%;
  height: 100%;
}

.logo {
  width:100%;
  height:10%;
  padding-top: 1%;
  padding-left: 10%;
  padding-right: 10%;
}

h1 {
  color: white;
  font-size: 200%;
  font-weight: bold;
  text-align: center;
  height: 20%;
  width: 100%;
  padding: 3%;
}

h2 {
  color: white;
  font-size: 150%;
  text-align: center;
  height: 20%;
  width: 100%;
  padding-bottom: 6%;
}

h3 {
  color: white;
  font-size: 150%;
  text-align: center;
  height: 20%;
  width: 100%;
  padding-bottom: 6%;
}

h4 {
  color: white;
  font-size: 125%;
  height: 20%;
  width: 100%;
  padding: 2%;
}

button {
  color: red;
}

.link {
  color: red;
}

nav {
  position: fixed;
  top: 0;
  height: 5%;
  width:90%;
  padding: 5%;
}

.navLink {
  background-color: rgba(245, 245, 245, 0.856);
  color: black;
  text-align: center;
  padding: 1%;
  font-size: 85%;
  font-weight: bold;
}

.likes {
  display: inline-block;
  padding: 2%;
}

.soicalMedia {
  font-size: 200%;
  display: inline;
  padding: 5%;
}

.frownFace {
  text-align: center;
  font-size: 200%;
}

.commentBox {
  width: 80%;
  height: 10%;
  padding: 2%;
}

.topicBox {
  text-align: center;
}

.addButton {
  color: white;
  background-color: black;
  border-radius: 10%;
}

.profileImg {
  border: white;
  border-style: solid;
  border-radius: 50%;
}

.fa-comments {
  color: greenyellow;
}

.fa-thumbs-up {
  color: lightgreen;
}

.fa-thumbs-down {
  color: lightsalmon;
}

.fa-home {
  color: yellow;
}

.fa-book {
  color:green;
}

.fa-bookmark {
  color:orange;
}

.fa-users {
  color: purple;
}

.fa-user {
  color: fuchsia;
}